@inherits UmbracoTemplatePage

@{
    var homePage = CurrentPage.Site() as IPublishedContent;
    if (homePage != null && homePage.HasValue("footer"))
    {
        <!-- Footer-->
        <div class="footer-v1">
            <div class="footer">
                @Html.GetGridHtml(homePage, "footer")
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                &copy; @DateTime.Now.ToString("yyyy") Auckland Table Tennis Association. All Rights Reserved.
                            </p>
                        </div>
                        <div class="col-md-6 fb-footer">
                            <p class="fb-like" data-href="https://www.facebook.com/Auckland-Table-Tennis-Association-241612742550108/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Footer End-->
    }
}
