@model ATTA.Utils.Models.ContactUsNotificationEmail

<html>
<head>
    <style>
        body {
            color: #555;
            font-family: 'Open Sans', Arial, sans-serif;
        }

        h1 {
            text-align: center;
            border-bottom: 2px solid #e4e9f0;
        }
    </style>
</head>
<body>
<h1>@Html.EmbedImage("~/assets/img/attamanwebsite-70x92.jpg")Auckland Table Tennis Association</h1>

<h2>Contact Us Notification</h2>

<h3>Name</h3>
<p>@Model.Name</p>

<h3>Email</h3>
<p>@Model.Email</p>

<h3>Message</h3>
<p>@Model.Message</p>
</body>
</html>