@using ATTA.Utils
@inherits UmbracoTemplatePage
@{
    Layout = "Masterpage.cshtml";
}
@Html.Partial("Banner")
<div class="container content general-content">
    <div class="row">
        @Html.GetGridHtml(Model.Content, "content").WrapHeaders().MakeTablesResponsive()
    </div>
</div>
@helper GetBannerImage()
{
if (Model.Content.HasValue("bannerImage"))
{
        @:style="background-image:url(@(Model.Content.GetPropertyValue<IPublishedContent>("bannerImage").Url)"
    }
}